services:
  backend:
    build: ./apps/backend
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgres://postgres:123456@db:5432/orbit_explorer
    depends_on:
      - db

  db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: orbit_explorer
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./db:/docker-entrypoint-initdb.d
  frontend:
    build: ./frontendeng/frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontendeng/frontend:/app
      - /app/node_modules
    stdin_open: true
    tty: true

volumes:
  postgres_data: